body{
	background-color: transparent;
}
 h1{
	font-family: "Varela Round";
	color: #3e86e0;
}

#map-canvas {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  text-alignn: center;
}

.title{
	background-color: transparent;
	display: inline-block;
	vertical-align: top;
	float: left;

}
.form-group{
	display: inline-block;
	float: left;
	margin-left: 1.5%;
}
.input-group{
	padding-top: 22px;
	width: 300px;
}
.input-group-addon{
	background-color: #3e86e0;
	color: white;
}