<!DOCTYPE html>
<html>
    <head>
  		<style>
		  	#map-canvas {
		      height: 700px;
		      width: 700px;
		      padding: 10px;
		      border: 1px solid #ccc;
		      background-color: #fff;
		      margin: 50px auto;
		      text-align: center;
		      -webkit-border-radius: 4px;
		      -moz-border-radius: 4px;
		      border-radius: 4px;
		      float: left;

		    }
		</style>
    </head>
    <body>
    	<div id="map-canvas"></div>

    </body>
		<script src="static/JS/rsvp.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6U2ExB8yLDc7RiGPYK3C3yIzDPpyFJE0&sensor=false"></script>
        <script src="https://www.firebase.com/resources/js/publicdata/geofire.js"></script>
        <script src="https://cdn.firebase.com/js/client/1.0.17/firebase.js"></script>
        <script src="/static/js/parking.js"></script> 
</html>