<!DOCTYPE html>
<html>
    <head>
        <script src="static/JS/rsvp.min.js"></script>
        <script src="https://cdn.firebase.com/js/client/1.0.17/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/geofire/2.0.0/geofire.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQRUGcTbYuH5GmamWNQ3ZSoEq45toJGlQ">
        
        </script>
        <script src="https://maps.gstatic.com/maps-api-v3/api/js/18/0/main.js" type="text/javascript"></script>
  		<!-- // <script src="/static/js/parking.js"></script> -->
  		<script type="text/javascript"> 
  			// var park = new FireparkingUI(ref, document.getElementById("map-canvas"));
  			// park.start();
  			</script>
  		<style>
		  	#map-canvas {
		      height: 700px;
		      width: 700px;
		      padding: 10px;
		      border: 1px solid #ccc;
		      background-color: #fff;
		      margin: 50px auto;
		      text-align: center;
		      -webkit-border-radius: 4px;
		      -moz-border-radius: 4px;
		      border-radius: 4px;
		      float: left;

		    }
		</style>
    </head>
    <body>
    	<div id ="map-canvas"></div>
	    	<script type='text/javascript'>
			</script>
    </body>
</html>